<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plateforme CIMB</title>
    <link rel="stylesheet" href="/views/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@300&family=Nunito:wght@200&display=swap"
        rel="stylesheet">
    <link rel="icon" href="/Icons/CIMB.png">

</head>

<body>

    <section id="main">
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="http://www.tunisieindustrie.gov.tn/" target="_blank">
                            <img src="/Images/logo_min.png" alt="Ministere" class="im2">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.tunisieindustrie.gov.tn/" target="_blank">
                            <p class="par1">
                                République Tunisienne
                                <br>
                                Ministére De L'Industrie
                                <br>
                                De L'Energie Et Des Mines
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.lescimentsdebizerte.ind.tn/" target="_blank">
                            <p class="par2">
                                Les Ciments De Bizerte
                                <br>
                                <span>إسمنت بنزرت</span>
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.lescimentsdebizerte.ind.tn/" target="_blank">
                            <img src="/Images/logo_cim.png" alt="Cimenterie" class="im1">
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        <div class="jumbotron">
            <center>
                <video autoplay muted loop plays-inline class="back-video">
                    <source src="/Vidéos/Welcome Page Video (Page 1)1.mp4">
                </video>
                <h1 class="animate-charcter">Bienvenue Au Plateforme CIMB</h1>
                <h2 class="">Votre <span class="animate-charcter-span"> Réussite Professionnelle</span> à Porté De Main
                </h2>
                <a href="/users/login" target="_blank"><button class="slide">Se Connecter</button></a>
                <a href="/users/register" target="_blank"><button class="slide">S'Inscrire</button></a>

            </center>
        </div>
    </section>


</body>

</html>